body {
   
  background: linear-gradient(to right, rgba(0,148,0,1) , #000);
  color: #fff;
  padding: 5px 25px;
}

form{
 margin: 10%;
}

input [type="submit"]{
background-color: rgba(0,148,0,1);
font-size: 15px;
color: white;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
border: 1px solid transparent;
color: white;
filter: none;
line-height: 20px;
padding: 5px 25px;
margin: 0 auto;

}
a{
	font-size: large
}

h4{
	font-size: large;
}

.input_text_size{
	width: 40%;
	height: 150px;
	font-size: medium
}
.input_title_size{
	width: 40%;
	height: 50px;
	font-size: x-large
}
.input_url_size{
	width: 60%;
	height: 50px;
	font-size: large
}
.input_qa_size{
	width: 40%;
	height: 100px;
	font-size: large
}
.input_fax_size{
	width: 40%;
	height: 50px;
	font-size: large
}

.cl{
	font-size: large;
}
