body {
   
    background-image: url('../img/body_bg.png');
    background-color: #dcdbda;
}

.input_text_size{
	width: 40%;
	height: 150px;
	font-size: medium
}
.input_url_size{
	width: 40%;
	height: 50px;
	font-size: large
}