$ cat .gitignore
.classpath
.project
.settings
.metadata
build/
External Plug-in Libraries/
~
/front/BattleOfRotterdam/nbproject/private/
/frontBattleOfRotterdam/nbproject/private/
/front/public_html/oldProgect/