/* Nav Messages Preview*/

.dropdown-menu .message-preview .avatar,
.dropdown-menu .message-preview .name,
.dropdown-menu .message-preview .message,
.dropdown-menu .message-preview .time {
    display: block;
}

.dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
    width: 50px;
}

.dropdown-menu .message-preview .name {
    font-weight: bold;
}

.dropdown-menu .message-preview .message {
    font-size: 12px;
}

.dropdown-menu .message-preview .time {
    font-size: 12px;
}

form.search{
    margin: 0px;
    padding-left: 5px;

}
input[type="text"].input-search{
    -ms-border-radius: 14px 0 0 14px !important;
    -o-border-radius: 14px 0 0 14px !important;
    -webkit-border-radius: 14px 0 0 14px !important;
    -moz-border-radius: 14px 0 0 14px !important;
    border-radius: 14px 0 0 14px !important;

    max-height: 20px;
    min-height: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> 70abbcd204d3949592797808f2cc19bb07e65e79
=======
    width: 100%;
>>>>>>> 70abbcd204d3949592797808f2cc19bb07e65e79
=======
    width: 100%;
>>>>>>> 70abbcd204d3949592797808f2cc19bb07e65e79
=======
    width: 100%;
>>>>>>> 70abbcd204d3949592797808f2cc19bb07e65e79

    margin: 0px;
    padding: 4px 9px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    background-color: #626262;

    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

input[type="text"]:focus.input-search{
    border-color: rgba(82, 168, 236, 0.8) !important;
    outline: 0 !important;
    outline: thin dotted \9 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
}
.input-append{
    margin: 0px;
}
form.search .input-append .btn{
    -ms-border-radius: 0 14px  14px 0 !important;
    -o-border-radius: 0 14px  14px 0 !important;
    -webkit-border-radius: 0 14px  14px 0 !important;
    -moz-border-radius: 0 14px  14px 0 !important;
    border-radius: 0 14px  14px 0 !important;
}
.search-small-btn{
    line-height: 15px;
    font-size: 12px;
}

input[type="text"].input-search-small{
    -ms-border-radius: 14px 0 0 14px !important;
    -o-border-radius: 14px 0 0 14px !important;
    -webkit-border-radius: 14px 0 0 14px !important;
    -moz-border-radius: 14px 0 0 14px !important;
    border-radius: 14px 0 0 14px !important;

    max-height: 15px;
    min-height: 15px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> 70abbcd204d3949592797808f2cc19bb07e65e79
=======
    width: 100%;
>>>>>>> 70abbcd204d3949592797808f2cc19bb07e65e79
=======
    width: 100%;
>>>>>>> 70abbcd204d3949592797808f2cc19bb07e65e79
=======
    width: 100%;
>>>>>>> 70abbcd204d3949592797808f2cc19bb07e65e79

    margin: 0px;
    padding: 4px 9px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    background-color: #626262;

    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}