/* Nav Messages Preview*/

.dropdown-menu .message-preview .avatar,
.dropdown-menu .message-preview .name,
.dropdown-menu .message-preview .message,
.dropdown-menu .message-preview .time {
    display: block;
}

.dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
    width: 50px;
}

.dropdown-menu .message-preview .name {
    font-weight: bold;
}

.dropdown-menu .message-preview .message {
    font-size: 12px;
}

.dropdown-menu .message-preview .time {
    font-size: 12px;
}

.pull-right-count{
float: left;
margin: 0 25%;

}

@media (max-width: 480px){
.hide-count {
display:none;
}




}

/*form.search{
    margin: 0px;
    padding-left: 5px;

}
input[type="text"].input-search{
    -ms-border-radius: 14px 0 0 14px !important;
    -o-border-radius: 14px 0 0 14px !important;
    -webkit-border-radius: 14px 0 0 14px !important;
    -moz-border-radius: 14px 0 0 14px !important;
    border-radius: 14px 0 0 14px !important;

    max-height: 20px;
    min-height: 20px;
    width: 100%;
    margin: 0px;
    padding: 4px 9px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    background-color: #626262;

    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

input[type="text"]:focus.input-search{
    border-color: rgba(82, 168, 236, 0.8) !important;
    outline: 0 !important;
    outline: thin dotted \9 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
}
form.search .input-append{
    margin: 0px;
}
form.search .input-append .btn{
    -ms-border-radius: 0 14px  14px 0 !important;
    -o-border-radius: 0 14px  14px 0 !important;
    -webkit-border-radius: 0 14px  14px 0 !important;
    -moz-border-radius: 0 14px  14px 0 !important;
    border-radius: 0 14px  14px 0 !important;
}
.search-small-btn{
    line-height: 15px;
    font-size: 12px;
}

input[type="text"].input-search-small{
    -ms-border-radius: 14px 0 0 14px !important;
    -o-border-radius: 14px 0 0 14px !important;
    -webkit-border-radius: 14px 0 0 14px !important;
    -moz-border-radius: 14px 0 0 14px !important;
    border-radius: 14px 0 0 14px !important;

    max-height: 15px;
    min-height: 15px;
    width: 100%;
    margin: 0px;
    padding: 4px 9px;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    background-color: #626262;

    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15) !important;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}*/

/*==========================================================================*/

#content .lobster_tab_content div {
    padding: 0px;
}

#content .lobster_tab_content div.well{
    padding: 20px;
}
#content .lobster_tab_content div.input-append {
    padding-right: 50px;
}

#content .lobster_tab_content div.input-append .active{
    border-color: #fff;
}

#languages {
    font-size: 12px;
    color: white;
}
#languages ul li:first-child {
    float: left;
    padding: 0 5px 5px 0;
}

#languages ul li {
    float: left;
    padding: 0 5px;
}

#languages ul li a {
    color: white;
}

#languages a {
    text-decoration: none;
}

#content_top h1 small{
    color: #fff;
    letter-spacing: 16px;

}

.forall{
display:none;

}


.padding_comment{
padding-left: 5px;

}

.close_popup{

padding: 5px 25px 5px 25px;
float: right;
margin: 0px 0px 0px 25px;
background: rgba(1, 56, 56, 0.9);
color: white;
}

.close_popup_news{
z-index:2005;
position:absolute;
top: 2px; 
right: 2px; 
background-color:#fff; 
cursor: pointer;
}

.desc_news{
max-height: 150px; 
overflow-y: scroll;

}


.popup_text{
padding: 20px 20px;
font-size: 18px;

position: fixed;
top: 10%;
left: 25%;
z-index:2002;
width: 50%;
background: white;
color: black;
}

.popup_back{
position: fixed;
top: 0px;
left:0px;
width:100%;
height: 8000px;

background: rgba(1, 56, 56, 0.54);
z-index:2000;
}

.popup_back_news{
position: fixed;
top: 0px;
left:0px;
width:100%;
height: 2000px;

background: rgba(0, 0, 0, 0.7);
z-index:2000;
}

.popvis{
position:fixed;
top: 5%; 
left: 25%; 
z-index: 2002;
width: 50%;


}



.photo_static_profile{

width: 200px;
margin: 20px auto;

}

.name_static_profile{

font-family: 'Lobster Two', cursive;
font-size: 38px;
padding: 20px;

}

.margin_text_longname{
margin: 10px;
font-size: 14px;
letter-spacing: 8px;
}

.margin_text_birthday{
margin: 2px;
font-size: 12px;
font-weight: 600;
}

.margin_text{
margin: 5px;
font-size: 14px;

}

.margin_text_email{
margin: 25px;
font-size: 14px;
font-weight: 600;
}

.project_block{

padding: 12px; 
width:95%; 
height:300px; 
margin: 0 auto;
}

.project_block_ava{
width:10%; 
margin: 0 1%; 
float: left;  
height:150px; 
}

.project_block_photo{
width:23%; 
margin: 0 1%; 
float: left; 
height:150px; 
}

.project_block_proj_name{
width:75%;
margin: 3% auto; 
padding: 0 25px 0 25px; 
font-family: 'Lobster Two', cursive; 
font-size: 2em; 
text-align: center; 
line-height:110%; 
}

.project_block_proj{
width:55%;  
margin: 0 2% 0 2%;
float: left; 
height:150px; 
overflow: hidden; 
text-overflow: ellipsis; 
}


.project_block_proj_descr{
width: 95%; 
margin: 0 auto; 
padding: 5px;  
font-size: 0.7em; 
text-align: center; 
}



.star1{

position:absolute;
top: -40px;
left: -20px;
width: 165px !important;

}

.star2{
position:absolute;
top: -18px;
left: -15px;
width: 125px !important;

}

.star3{
position:absolute;
top: -8px;
left: -13px;
width: 105px !important;

}
.compet_panel{

margin: 2px 0px;
border: 1px solid #DDD;
font-size: 13px;
padding: 10px;
}


#button_edit_profile{
font-size: 18px; 
padding: 5px 25px; 
float: right; 
margin: 15px 25px;"

}

#button_pw_profile{
font-size: 18px; 
padding: 5px 25px; 
float: right; 
margin: 15px 25px;"

}

#create_button{
font-size: 18px; 
padding: 5px 25px; 
float: right; 
margin: 15px 25px;"

}


.unvisiblin{
display: none; }


.header_popup{

position:relative;
clear:both;
margin: 5px auto;
background-color: rgba(0,181,0,0.5);
font-size: 18px;
padding: 10px;
width: 95%;

text-align: center;
}

.header_popup_pz{

position:relative;
clear:both;
margin: 5px auto;
background-color: rgba(0,181,0,0.5);
font-size: 14px;
padding: 5px;
width: 95%;

text-align: center;
}


.editable{
background-color: rgba(0,181,0,0.1);
font-size: 18px;
padding: 10px;
width: 85%;
margin: 5px 25px;
text-align: left;

}

.caption_profile{

font-family: 'Lobster Two', cursive;
font-size: 38px;
padding: 10px;
margin: 20px auto;
text-align: center;
}

.ava_proj{
width:100px;
}

.photo_proj{
width:200px;
}

.viewtheproj{
float:left; 
width: 100%; 
margin: 10px auto;
}

.buttonviewtheproj{
font-size: 12px; 
padding: 5px; 
float: right;
}

.amortiz{
height: 50px;
}

.photo_static_center{
width:200px;
}

@media (max-width: 979px) {
.amortiz{
height: 10px;
}
.photo_static_center{
width:150px;
}

.news_butt{
display: none;

}


}
@media (max-width: 480px) {
#content .blog-line {
font-size: 5px;
}

.project_block{

padding: 5px; 
width:90%; 
height: 190px;
}


.project_block_proj_descr {

font-size: 5px;
line-height: normal;
text-overflow: ellipsis;

}

.project_block_proj_name {

font-size: 12px;
}

.buttonviewtheproj {

font-size: 5px;
line-height: normal;

}

.news_butt{
display: none;

}



}
